/*fuck css*/


.chat-bubble {
    background-color: whitesmoke;
    color:black;
    border-radius: 50%;
    font-size: .5em;
    max-width: 7em;
    text-align: center;
}

.time {
    font-size: .25em;
}

